html
  head
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Gestione prese
  body
    block content
    block footer
    script(src='/bower_components/jquery/dist/jquery.slim.js')
    script(src='/bower_components/lodash/dist/lodash.min.js')
    script(src='/bower_components/moment/min/moment-with-locales.min.js')
    script(src='/bower_components/highcharts/highcharts.js')
    block additionalScripts